@import '~@payloadcms/ui/scss';

.switch-env {
  --red-50: #fef2f2;
  --red-700: #b91c1c;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: base(0.5);

  &__btn-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: base(0.2);
    background-color: black;
    border-radius: 9999px;
    background-color: var(--theme-bg);
    color: var(--theme-text);
    margin: 1px;
    border: 0;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px var(--theme-elevation-150);

    &:hover {
      background-color: var(--theme-elevation-100);
      box-shadow: 0px 0px 0px 1px var(--theme-elevation-500);
    }

    &__icon {
      width: base(0.8);
      height: base(0.8);
    }
  }

  &__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    &-close {
      background-color: var(--theme-elevation-900);
      opacity: 0.25;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
    &-content {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: var(--style-radius-m);
      padding: base(1);
      background-color: var(--theme-elevation-50);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      & > * + * {
        margin-top: base(0.5);
      }
      &-checkbox-wrapper {
        margin-top: base(0.8);
        display: flex;
        flex-direction: column;
        gap: base(0.25);
        &-icon-wrapper {
          display: flex;
          gap: base(0.4);
        }
        &-icon-tooltip {
          position: relative;
          .tooltip-content {
            padding: base(0.25);
          }
        }
      }
      .btn {
        margin-top: base(0.8);
        margin-bottom: 0;
      }
    }
  }
}
